<input type="text" ng-focus="showCalendar()" ng-value="viewValue" class="datepicker-input"placeholder="{{ placeholder }}"/>
<div class="datepicker" ng-show="calendarOpened">
  <div class="datepicker-controls">
    <div class="datepicker-previous">
      <i class="datepicker-prev-year" ng-click="prevYear()"></i>
      <i class="datepicker-prev-month" ng-click="prevMonth()"></i>
    </div>
    <span class="datepicker-date" ng-bind="dateValue"></span>
    <div class="datepicker-next">
      <i class="datepicker-next-month" ng-click="nextMonth()"></i>
      <i class="datepicker-next-year" ng-click="nextYear()"></i>
    </div>
  </div>
  <div class="datepicker-day-names">
    <span ng-repeat="dn in dayNames">
      {{ dn }}
    </span>
  </div>
  <div class="datepicker-calendar">
    <span ng-repeat="d in days" class="datepicker-day" ng-click="selectDate($event, d)" ng-class="{disabled: !d.enabled}">
      {{ d.day }}
    </span>
  </div>
</div>