<!DOCTYPE html>
<html ng-app="demo">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>ng-nephila demo</title>
  <script src="lib/moment/min/moment-with-locales.min.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/ngNephila/dist/ng-nephila.js"></script>
  <script src="js/app.js"></script>
  <script src='http://code.responsivevoice.org/responsivevoice.js'></script>
  <link rel="stylesheet" type="text/css" href="css/demo.css">
</head>

<body ng-controller="demoCtrl">
  <div>Titlecase {{myText}} -> {{myText|nphTitlecase}}</div>
  <div>Titlecase {{myText}} -> {{myText|nphTitlecase:true}}</div>
  <div>Html: {{myHtmlText}} -> {{myHtmlText|nphStripHtml}}</div>
  <div>{{'....My demo....' | nphStrip:'.'}}</div>
  <div>My site: {{'http://mysite' | nphPath:'site' | nphPath:'main'}}</div>
  <div>API: {{'http://api' | nphPath:'v1' | nphPath:'me.json':true}}</div>
  <button ng-click="startSpeaking()">Speak</button>
  <button ng-click="stopSpeaking()">Stop</button>
  <div nph-toggle>Toggle Button</div>
  <button ng-click="showModal()">Show modal</button>
  <input nph-focus-me="true"></input>

  <nph-tabsaccordion>
    <nph-tabheaders>
      <nph-tabheader selected="true" ref="tab1">Tab 1</nph-tabheader>
      <nph-tabheader ref="tab2">Tab 2</nph-tabheader>
    </nph-tabheaders>
    <nph-tabcontents>
      <nph-tabcontent ref="tab1">Content 1</nph-tabcontent>
      <nph-tabcontent ref="tab2">Content 2</nph-tabcontent>
    </nph-tabcontents>
  </nph-tabsaccordion>

  <nph-modal show='modalShown'>
    <p>Modal Content Goes here</p>
  </nph-modal>
  <div>My date {{myDate}}</div>
  <nph-date-picker ng-model="myDate" locale="it" view-format="DD MMMM YYYY"></nph-date-picker>
  <nph-paginator start="1" compress="2" number-of-items="numberOfItems" on-page-change="pageChange(page)" next-label="Next" prev-label="Prev." compress-label="...."></nph-paginator>
  <div id="innerscroll" style="overflow-y: scroll; height:400px;">
    <nph-infinite-scroll style="display: block; margin-top: 1200px;" on-infinite="loadMore()" scroll-container="scrollContainer"><div>Loading inside container...</div></nph-nph-infinite-scroll>
  </div>
  <nph-infinite-scroll style="display: block; margin-top: 1200px;" on-infinite="loadMore()"><div>Loading inside container...</div></nph-infinite-scroll>
</body>

</html>