<!DOCTYPE html>
<html ng-app="demo">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>ng-nephila demo</title>
  <script src="lib/moment/min/moment-with-locales.min.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/ngNephila/dist/ng-nephila.js"></script>
  <script src="js/app.js"></script>
  <script src='http://code.responsivevoice.org/responsivevoice.js'></script>
</head>

<body ng-controller="demoCtrl">
  <div>Titlecase {{myText}} -> {{myText|titlecase}}</div>
  <div>Titlecase {{myText}} -> {{myText|titlecase:true}}</div>
  <div>Html: {{myHtmlText}} -> {{myHtmlText|stripHtml}}</div>
  <div toggle>Toggle Button</div>
  <button ng-click="startSpeaking()">Speak</button>
  <button ng-click="stopSpeaking()">Stop</button>
  <div>My date {{myDate}}</div>
  <date-picker ng-model="myDate" locale="it" view-format="DD MMMM YYYY"></date-picker>
  <div id="innerscroll" style="overflow-y: scroll; height:400px;">
    <infinite-scroll style="display: block; margin-top: 1200px;" on-infinite="loadMore()" scroll-container="scrollContainer"><div>Loading inside container...</div></infinite-scroll>
  </div>
  <div class="pagination">
    <paginator start="1" compress="2" number-of-items="numberOfItems" on-page-change="pageChange(page)" next-label="Next" prev-label="Prev." compress-label="...."></paginator>
  </div>
  <infinite-scroll style="display: block; margin-top: 1200px;" on-infinite="loadMore()"><div>Loading inside container...</div></infinite-scroll>
</body>

</html>